/* 1248 1024 */
.detailmain {
    background-image: url("../img/_main.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;

}

.detailcover {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.detailWrapper {
    position: relative;
    display: table;
    width: 80%;
    max-width: 1280px;
    height: 100%;
    margin: auto;

}

.leftSide {
    float: left;
    height: 100%;
    width: 55%;
}

.mapWrapper {
    position: relative;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 87%;
    margin: auto;
    padding-right: 5%;
}

#map {

    display: flex;
    width: 100%;
    height: 98%;

}

.rightSide {
    float: left;
    height: 100%;
    width: 45%;
}

.infoWrapper {
    position: relative;
    top: 135px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 600px;

}

.row {
    height: 100%;
    width: 100%;
    margin: 0;

}

.col-sm-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.col-sm-12 .text-muted-parkingtype {
    font-size: 13px;
}

.col-sm-12 .my-0-time {
    font-size: 13px;
}

@media screen and (max-width: 1042px) {

    .rightSide .infoWrapper {
        position: relative;
        top: 108px;
        width: 100%;
    }

}

@media screen and (max-width: 884px) {

    .rightSide .infoWrapper {
        position: relative;
        top: 94px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .detailmain {
    }

    .detailWrapper {
        display: block;
        width: 100%;
    }

    .leftSide {
        width: 100%;
        height: 50%;
    }

    .mapWrapper {
        position: relative;
        top: 70px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 121%;
        padding-right: 0;
    }

    .leftSide #map {
        display: block;
        width: 100%;
        height: 100%;

    }

    .rightSide {
        position: relative;
        top: 56px;
        width: 100%;
        height: 105%;
    }

    .rightSide .infoWrapper {

        width: 100%;
    }

}





