
.main {
    background-image: url("../img/_main.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*height: 100%;*/
}

.mainImg-cover {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.contentWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 40%;
    max-width: 1024px;
    /*height: 100%;*/
    margin: auto;
}

.contentItem {
    width: 100%;
    margin-top: 20vh;
}

/* card list start */

.card-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    /*max-width: 1200px;
    min-width: 300px;*/
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    transition: all .2s;
}

.card-list:hover {
    background-color: #fafafa;
    transform: translateX(3px);
}

.card-item-left {
    flex: 8;
    padding-right: 20px;
}

.card-list-name {
    color: #00BFA5;
    font-size: 15px;
}

.card-list-addr {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

.card-list-tel {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

.card-item-right {
    flex: 1;
    padding-left: 15px;
    padding-top: 5px;
}

.card-list-writer {
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 5px;
    padding-left: 35px;
}

.card-list-date {
    font-size: 10px;
}

.card-list-writer i {
    color: #FBC02D;
    font-size: 30px;
}



/* card list end*/



/* for responsive start */

@media screen and (max-width: 768px) {



}

/* for responsive end */







