/*normalize*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Nanum Gothic', sans-serif;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

input:focus {
    outline: none;
}
