
.panelWrapper {
    display: flex;
}

.leftPanel {
    background-image: url("../img/_signup.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 40%;
}

.leftPanel-cover {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.leftPanel .infoWrapper {
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: auto;
    color: #fff;
}

.leftPanel .infoContents {
}

.infoContents .info-title {
    font-size: 45px;
    margin-bottom: 50px;
}

.infoContents .info-subTitle {
    font-size: 20px;
}

.rightPanel {
    height: 100%;
    width: 70%;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.rightPanel label {
    font-size: 18px;
}

/* input properties start */
.inputWrapper {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70%;
    min-width: 400px;
    margin: auto;
}

.inputContents .inputInfo {
    text-align: center;
}

.inputInfo .input-icon {
    color: #5C9C7B;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.inputInfo .inputSubtitle {
    font-size: 15px;
    color: #999999;
    margin-bottom: 25px;
}

#inputSubtitle {
    margin-bottom: 10px;
}

.inputInfo .inputSubtitle a {
    color: #999999;
    text-decoration: underline;
}

.inputContents i {
    font-size: 100px;
}

.inputContents input {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    border: 1px solid #999999;
    border-radius: 3px;
    padding: 0 0 0 15px
}

.inputContents .input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chkValCmt {
    color: #bdbdbd;
    font-size: 15px;
    margin-left: 10px;
}

.emailWrapper {
    display: flex;
}

#email {
    width: 100%;
    border-radius: 3px 0 0 3px;
}

.inputContents .input-age {
    width: 40%;
}

.inputContents .input-gender {
    width: 40%;
}

form > div {
    margin-bottom: 30px;
}

form > div:nth-child(2) {
    margin-bottom: 15px;
}

.inputContents input:focus {
    border: 1px solid #000;
}

.input-gender span {
    font-size: 20px;
}

.inputContents input[type=button] {
    color: #bdbdbd;
    font-size: 18px;
    background: #5C9C7B;
    border: 0;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 0;
    border-radius: 3px;
    text-align: center;
}

.inputContents input[type=button]:hover {
    color: #fff;
    cursor: pointer;
}

.inputCmt {
    padding: 5px 0 0 10px;
    color: #f00;
    font-size: 15px;
}

#emailChk {
    width: 30%;
    height: 35px;
    margin-bottom: 0;
    font-size: 15px;
    border-radius: 0 3px 3px 0;
}


/* input properties end */

/* for responsive start */

@media screen and (max-width: 768px) {
    .panelWrapper {
        display: block;
    }

    .leftPanel {
        width: 100%;
        height: auto;
    }

    .leftPanel-cover {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .leftPanel .infoWrapper {
        display: block;
        height: auto;
    }

    .leftPanel .info-title {
        font-size: 30px;
        padding-top: 30px;
        margin-bottom: 16px;
    }

    .leftPanel .info-subTitle {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .rightPanel {
        width: 100%;
        height: auto;
    }

    .rightPanel .inputWrapper {
        top: 50px;
        width: 80%;
    }

}

/* for responsive end */

/* rad btn start */

.genderLabel {
    padding-top: 18px;
    padding-bottom: 10px;
}

.radWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #5C9C7B;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/* rad btn end */

::placeholder {
    color: #999999;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #999999;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #999999;
}


